@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@200;400;600&display=swap');
/* basic styling */
:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--Almost-White);
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

ul{
    list-style: none;
}
p{
    font-size: 18px;
}
a{
    text-decoration: none;
    position: relative;
}
/* page overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #333;
    opacity: 0.7;
    transform: scaleY(0);
    transition: transform .5s ease-out;
}
/* navabar */
.navbar .container{
    padding-block: 2.5rem;
}

.navbar ul li{
    position: relative;
}
.drop-down-menu:hover{
    cursor: pointer;
}
.navbar ul .drop-down-menu:hover .drop{
    /* transform: scale(1); */
    clip-path: inset(-100% -100% -100% -100%);
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.drop{
    position: absolute;
    transform: translateY(15%);
   width: max-content;
   
    clip-path: inset(0 0 100% 0);
    transition: all .5s ease .3s;
    background-color: #fff;
   padding: 1rem 1.5rem; 
   /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    */
   border-radius: 0.8rem;
}
.drop.right{
    right: 0;
}
.drop.left{
    left: 0;
}
.drop li{
    padding-block: 0.5rem;
    width: 100%;
    gap: 0;
    align-items: center;
}
.drop li  img{
    
    width: 1rem;
    margin-right: 1rem;
    object-fit: contain;
    
}
.drop li a{
    font-size: 1rem;
    
}
.hover-stay{
    transition: color .3s ease .3s;
}
.navbar ul .drop-down-menu:hover .hover-stay{
    color: var(--Almost-Black);
    transition: color 0s ease 0s;
}
.navbar ul .drop-down-menu:hover .hover-stay img{
    transform: rotate(180deg);
    transition: transform .3s ease .3s;
}
.navbar .container .logo{
    
    object-fit: contain;
    margin-right: 1.5rem;
}
nav ul a span{
    position: relative;
    margin-left: .5rem;
    bottom: .1rem;   
}
nav ul a span img{
    transition: transform .3s ease .3s;
}
.navbar nav{
    flex-grow: 1;
    gap: 0;
   
}
 nav .login{
    margin-left: auto;
}
.navbar .login .btn{
    border: 2px solid var(--Medium-Gray);
}
.navbar .login .btn:hover{
    border-color: var(--Almost-Black);
}
/* navbar mobile trigger */
#trigger{
    display: none;
}
.navbar .open, .navbar .close{
    display: none;
}
/* main content */
main{
    padding-block: 0 5rem;
}
main .container{
    display: grid;
    grid-template-columns: 1fr 40% ;
    grid-template-rows: repeat(4,max-content);
    padding-inline: 9rem 7rem;
    column-gap: 5rem;
    row-gap: 3rem;
}
/* showcase */
.showcase{
    grid-row: span 3;
    padding-top: 10rem;
}
.showcase h1{
    font-size: 5rem;
    width: 90%;
}
.showcase p{
    max-width: 42ch;
    text-align: justify;
    line-height: 1.5;
    margin-block: 2.5rem 4rem;
    
}
.showcase .btn{
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    border: var(--Almost-Black) 1px solid;
    
}
.showcase .btn:hover{
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
}
/* hero image */
.hero{
    grid-column: 2;
    grid-row: 1/-1;
    padding-top: 4rem;
}
.hero img:first-of-type{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero img:last-of-type{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
/* clients */
.clients{
    align-self: flex-end;
    grid-column: 1;
    align-items: flex-end;
    
}
/* Common properties */
a:hover{
    color: var(--Almost-Black);
}
.container{
    max-width: 87rem;
    margin: auto;
    padding-inline: 2rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
   align-items: center;
    position: relative;
}

p, a{
    color: var(--Medium-Gray);
    
}
.btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    
}
/* Animation */
@keyframes open-button{
    0%{
        transform: translateX(10rem);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes left{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes right{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* media queries */
@media(max-width: 58.6rem){
    /* navbar */
    .navbar nav{
        position: absolute;
        flex-direction: column;
        width: 15.5rem;
        background-color:var(--Almost-White) ;
        z-index: 3;
        right: 0;
        top: 0;
        padding: 6.5rem 2rem ;
        align-items: flex-start;
        min-height: 100vh;
        right: -100%;
        gap: 1rem;
        overflow: hidden;
        transition: right .5s ease-in-out;
    }
    .navbar nav .flex{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .navbar nav .login{
        margin-top: 1rem;
        width: 100%;
        margin-left: unset;
        align-items: center;
       
    }
    .navbar .login ul{
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1.5em;
    }
    .login ul li{
        width: 100%;
    }
    .login .btn{
        display: block;
        flex-grow: 1;
    }
    .navbar .close{
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        opacity: 1;
    }
    .navbar .open{
        transition: opacity .5s ease;
        animation: open-button .9s ease-in-out;
        align-self: flex-start;
    }
    .navbar .open, .navbar .close{
        display: block;
        margin-left: auto;
        cursor: pointer;
    }
    #trigger:checked ~ .navbar nav{
       right: 0;
    }
    #trigger:checked ~ .navbar .open{
        opacity: 0;
     }
    #trigger:checked ~ .overlay{
        transform: scaleY(1);
    }
    /* nav bar dropdown mobile */
    
    .arrow{
        transition: all .5s ease;
    }
    .navbar ul .drop-down-menu:hover .hover-stay img {
        transform: unset !important;
        transition: all .5s ease;
        
      }
    .rotate-arrow{
        transform: rotate(180deg);
        transition: all .5s ease;
    }
    .drop{
        clip-path: unset;
        position: unset;
        transform: unset;
        background-color: unset;
        border-radius: unset;
       overflow: hidden;
       transition: unset;
       max-height: 0;
        padding-block: 0;
        transition: all .3s ease-out;
    }
   
    .drop li{
        flex-direction: row !important; 
    }
    .drop li{
        padding-block: 0.5rem;
        width: 100%;
        gap: 1rem !important;
        align-items: unset;
    }

    .drop li img{
        margin-right: 0 !important;
    }
  
    .navbar ul .drop-down-menu:hover .drop{
        box-shadow: none;
    }
  
    .drop-down-menu:hover{
        cursor: unset;
    }
    .drop-open{
        padding: 1rem 1.5rem;
        max-height: 10rem;
    }
}
@media(max-width: 48rem ){
    main .container{
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        padding-inline: 2rem;
    }
    .showcase, .hero{
        padding-top: 2rem;
    }
    .hero {
        grid-row: unset;
        grid-column: unset;
        
    }
    .hero img:first-of-type{
        animation: right .9s ease-out;
    }
    .clients {
        grid-column: unset;
    }
    .showcase{
        grid-row: unset;
        grid-column: unset;
        animation: left .9s ease-out;
        text-align: center;
        
    }
    .showcase h1{
        width: 100%;
        font-size: 2rem;
    }
    .showcase p{
        text-align: center;
        font-size: 1rem;
        margin-block: 1rem 3rem;
        margin-inline: auto;
    }
    .clients{
        justify-content: center;
    }
    /* common properties */
    .container{
        padding-inline: 1rem;
    }
}
@media(max-width: 29rem ){
    main .container{
        padding-inline: 0;
    }
    .showcase{
        animation: right .9s ease-out;
    }
    .showcase,.clients{
        padding-inline: 1rem;
    }
    .hero{
        grid-column: 1;
        grid-row: 1;
    }
    .hero img:first-of-type{
        display: none;
    }
    .hero img:last-of-type{
        display: block;
        animation: left .9s ease-out;
    }
    .clients{
        gap: 2rem;
        margin-top: 1rem;
        
    }
    .clients img{
        width: 18%;
       
        object-fit: contain;
    }
    main{
        padding-block: 0 4rem;
    }
}
